@CHARSET "ISO-8859-1";

img{
	float: right;
	margin-top: 5%;
	margin-right: 5%;
	height: 10%;
	width: 10%;
}

label {
	display:block;
	float:left;
	width:150px;
	text-align:right;
}

input {
	border-style: solid;
	border-width: 1px;
	border-radius: 4px;
	border-color: black;
	display:block;
	float:left;
	width:150px;
}

fieldset{
	border-style: solid;
	border-width: 1px;
	border-color: black;
	border-radius: 5px;
	background-color: none;
}

legend {
	font-weight:bold;
	text-align:left;
}

body{
	background-color: #B0C4DE;
}

th{
	font-size: 16px;
}

th img{
	height: 10px;
	width: 10px;
}

.title{
	text-align: center;
	margin-top: 10%;
}

.input_submission{
	text-align: left;
	width: 30%;
	margin-left: 5%;
}

.champ_submission{
	font-size: 20px;
	font-family: Arial Black;
}

.champ{
	margin-left: 50px;
}

.connexion{
	margin-left:45%;
}

.submit{
	background-color: #FF6347;
}


.signin{
	margin-left:30%;
	margin-right:30%;	
}

.publication_fieldset{
	margin-left:5%;
	margin-right:5%;
}

.publication_legend{
	margin-left:3%;
}

.publication_div{
	margin-left:10%;
	margin-right:10%;
	text-align:justify;
}

.download{
	float: right;
	margin-right: 5%;
	margin-bottom: 2%;
}

.ajout_submission{
	float: right;
	margin-right: 10%;
	font-size: 16px;
}

.title{
	margin-top: 10%;
}

#signup{
	margin-left: 10%;
}

#visitor{
	margin-left: 50%;
}

#search{
	float: right;
}
